@import 'components/mixins';
@import 'components/settings';
@import 'components/navigation';
@import 'components/header';
@import 'components/cards';
@import 'components/input-fields';
@import 'components/footer';
@import 'components/utilities';
@import 'components/buttons';
@import 'components/post-show';
@import 'components/user-page';

.container {
    max-width: 120rem;
    margin: 0 auto;

    @include respond(desktop) {
        max-width: 100rem;
    }

    @include respond(desktop) {
        max-width: 80rem;
    }
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#site-content {
    flex: 1;
}

/*****************
LANDING PAGE
*****************/

.landing {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(0, 156, 148, 0.74), hsla(200, 3%, 19%, 0.774)), url('../img/header.jpg');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__header {
    background: rgba(255, 255, 255, 0.753);
    position: relative;
    padding: 9rem 0;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}

.landing__header::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: 50%;
    background: rgba(187, 10, 81, 0.986);
    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
}

.landing__header:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.landing__heading {
    font-size: 5rem;
    font-family: inherit;
    text-align: center;
    z-index: 1;
}

.landing__subtitle {
    text-align: center;
    font-size: 2rem;
}

.landing__heading,
.landing__subtitle {
    text-align: center;
    transition: all .2s ease-out;
}

.landing__header:hover .landing__heading,
.landing__header:hover .landing__subtitle {
    color: #fff;
}

.landing__buttons {
    margin-top: 4rem;
    align-self: center;

}

.landing__btn:link,
.landing__btn:visited {
    position: relative;
    border: none;
    padding: 1.8rem;
    color: #fff;
    background: rgba(187, 10, 81, 0.986);
    font-size: 1.8rem;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.landing__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: 50%;
    background: rgba(214, 184, 196, 0.986);
}

.landing__btn:not(:active)::before {
    animation: ripple 1s ease-out;
}

.landing__btn:before {
    visibility: hidden;
}

.landing__btn:focus:before {
    visibility: visible;
}

.landing__btn:hover {
    background: rgba(236, 18, 102, 0.986);
    color: #fff;
}

.landing__btn:not(:last-of-type) {
    margin-right: 2rem;
}

.post-search {
    width: 40%;
    margin: 0 auto;

    @include respond(phone) {
        width: 90%;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .landing__header {
        background: rgba(255, 255, 255, 0.753);
        position: relative;
        padding: 9rem 0rem;
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    }

    .landing__heading {
        font-size: 3.5rem;
    }

    .landing__subtitle {
        font-size: 1.8rem;
        padding: 0 2rem;
    }
}



@keyframes slidein {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateX(0);
    }

    75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(0) rotate(90deg);
        transform-origin: 0%;
    }
}