    
   


     <footer id="footer" class="ui inverted vertical footer segment">
        <div id="footer-container" class="ui center aligned container">
          <div><i class="teal language icon"></i></div>
          <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
    </footer>
    </body>
</html>