<html>
    <head>
        <title>Simply English - A simple blog for English Language Learners</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124918350-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-124918350-1');
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
        

    </head>
    <body>
      <nav class="ui borderless menu">
          <div class="ui container">
              <div class="header item"><i class="language icon teal"></i>Simply English</div>
              <a href="/" class="item">Home</a>
              <% if(currentUser && currentUser.isAdmin) { %>
                <a href="/blogs/new" class="item">New Post</a>
              <% } %>
              <div class="right menu">
                  <% if(!currentUser) { %>
                      <div class="item">
                          <a href="/register" class="ui teal button">Sign Up</a>
                      </div>
                      <div class="item">
                          <a href="/login" class="ui button">Login</a>
                      </div>
                  <% } else { %>
                      <div class="item">
                           <a class="ui teal button">Welcome back <%= currentUser.firstName %>!</a>
                      </div>
                      <div class="item">
                          <a href="/logout" class="ui button">Logout</a>
                      </div>
                  <% } %>
              </div>
          </div>
      </nav>
      
      <nav class="mobile-nav">
              <div class="mobile-nav__item">
                  <a href="/" class="item"><i class="home icon teal"></i></a>
              </div>
              <div class="mobile-nav__item">
                  <% if(currentUser && currentUser.isAdmin) { %>
                    <a href="/blogs/new" class="item"><i class="edit icon teal"></i></a>
                  <% } %>
              </div>
              <% if(!currentUser) { %>
                  <div class="mobile-nav__item">
                      <a href="/register" class="item ui teal button">Sign Up</a>
                  </div>
                  <div class="mobile-nav__item">
                      <a href="/login" class="item ui button">Login</i></a>
                  </div>
              <% } else { %>
                  <div class="mobile-nav__item">
                      <a class="ui teal button">Hi <%= currentUser.firstName.substring(0, 6) %>!</a>
                  </div>
                  <div class="mobile-nav__item">
                      <a href="/logout" class="item ui button">Logout</i></a>
                  </div>
              <% } %>
      </nav>
      
      <% if(error && error.length > 0) { %>
        <div class="ui error message flash-message">
            <div class="header">
               <%= error %>
            </div>
        </div>
      <% } %>
      <% if(success && success.length > 0) { %>
        <div class="ui success message flash-message">
            <div class="header">
               <%= success %>
            </div>
        </div>
      <% } %>
      
    
      
