<% include ./partials/header %>

<div class="landing">
    <div class="landing__header">
        <h1 class="landing__heading">
            Simply English
        </h1>
        <p class="landing__subtitle">
            Learn English at your own pace using curated topics.
        </p>
    </div>
    <div class="landing__buttons">
        <a href="/register" class="landing__btn">
            Sign Up
        </a>
        <a href="/blogs" class="landing__btn">
            Read Blogs
        </a>
    </div>
</div>