<% include ./partials/header %>

<div class="container margin-top-bottom">

    <h1 class="center-heading">

        Log in to your account

    </h1>
    <form action="/login" method="post" class="form">
      <div class="">
        <div class="form__field">

            <i class="fas fa-user form__icon"></i>
            <input type="text" name="username" placeholder="Username" autofocus>

        </div>
        <div class="form__field">
   
            <i class="fas fa-lock form__icon"></i>
            <input type="password" name="password" placeholder="Password">

        </div>
        <input type="submit" value="Login" id="btn" class="">
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="form-message">
      Don't have an account? <a class="btn" href="/register">Sign up</a>
    </div>
    <div class="form-message">
      Forgot your password? <a class="btn" href="/forgot">Reset password</a>
    </div>

</div>

<% include ./partials/footer %>