<% include ./partials/header %>

<div class="container margin-top-bottom">
  <div class="">
    <h1 class="">
      <div class="center-heading">
        Log in to your account
      </div>
    </h1>
    <form action="/login" method="post" class="form">
      <div class="">
        <div class="field">

            <i class="fas fa-user form__icon"></i>
            <input type="text" name="username" placeholder="Username">

        </div>
        <div class="field">
   
            <i class="fas fa-lock form__icon"></i>
            <input type="password" name="password" placeholder="Password">

        </div>
        <input type="submit" value="Login" id="btn" class="">
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="">
      Don't have an account? <a href="/register">Sign up</a>
    </div>
    <div class="">
      Forgot your password? <a href="/forgot">Reset password</a>
    </div>
  </div>
</div>

<% include ./partials/footer %>