<% include ./partials/header %>

<div id="reset-form" class="ui middle aligned center grid">
	<div class="column">
		<h1 class="ui header centered">
	      <div class="content">
	        Reset Password
	      </div>
	    </h2>
			<form class="ui large form" action="/reset/<%= token %>" method="POST">
				<div class="ui stacked secondary segment">
				  <div class="field">
				  	<div class="ui left icon input">
				  		<i class="lock icon"></i>
				  		 <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
				  	</div>
				  </div>
				  <div class="field">
				  	<div class="ui left icon input">
				  		<i class="lock icon"></i>
				  		<input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
				  	</div>
				  </div>
				  <div class="field">
				    <button id="btn" type="submit" class="ui teal button">Update Password</button>
				  </div>
			</form>
		</div>
	</div>
</div>

<% include ./partials/footer %>