html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.ui.form {
    font-size: 1.6rem;
}

#btn {
    font-size: 1.4rem;
}

.ui.borderless.menu {
    font-size: 1.5rem;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
    flex: 1;
}

/********************
FLASH MESSAGES
********************/

.ui.error.message,
.ui.success.message {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    text-align: center;
    max-width: 500px;
    font-size: 1.4rem;
}

/********************
NAVIGATION
********************/

/********************
INDEX PAGE 
********************/

.ui.container.main {
    margin-bottom: 4rem;
}

.ui.huge.header {
    text-align: center;
    margin-bottom: 70px;
}

.ui.huge.header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #00b5ad;
}

.ui.huge.header form {
    font-size: 1.4rem;
    color: #00b5ad;
}

.ui.raised.card {
    font-size: 1.4rem;
}

#jumbotron {
    height: 50vh;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 216, 214, 0.7), rgba(255, 255, 255, 0.7)), url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#jumbotron h1,
#jumbotron p {
    color: #fff;
    text-shadow: 2px 2px 3px #272727;
    margin-bottom: 10px;
}

#jumbotron h1 {
    font-size: 3.3rem;
    letter-spacing: 1;
}

#jumbotron p {
    font-size: 2rem;
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(120, 120, 120, .5));
    letter-spacing: .5;
    text-align: center;
    width: 50%;
}


.ui.grid>.row {
    padding: 0;
}

#post-container {
    max-width: 120rem !important;
}

.container.main {
    margin-top: 4rem;
}

i.language.icon {
    font-size: 3rem;
}

.ui.card:hover {
    transform: translateY(4px);
}

.card>.image {
    max-height: 300px;
    width: 100%;
    overflow: hidden;
}

#card-label {
    font-size: 1rem;
}

#card-button {
    font-size: 1.4rem;
}

#post-title:hover {
    color: #00d8d6;
}

/********************
SHOW PAGE 
********************/

#blog-post {
    margin: 10rem 0;
}

#blog-post .description {
    margin: 3rem 0;
    line-height: 1.2;
}

#blog-post p {
    line-height: 1.6;
    font-size: 1.6rem;
}

#blog-post strong {
    color: #00d8d6;
}

#post-image {
    margin: 0;
    width: 100%;
}

.content.post {
    margin: 1rem 0;
}

.post-title {
    margin: 0;
}

.post-author {
    font-size: 1.2rem;
    color: #00d8d6;
    margin: 0;
}

.post-author:hover {
    color: #00c8d8;
}

#post-title {
    font-size: 1.7rem;
}

.content>.meta {
    margin: 15px 0;
}

.content>.description {
    padding: 3px;
}

.blog-post-btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#delete {
    margin-bottom: 0;
}

#register-form,
#reset-form {
    margin: 4rem auto;
    max-width: 450px;
    margin-bottom: 1rem;
}

#register-form .field,
#reset-form .field{
    font-size: 1.4rem;
}

.ui.message {
    font-size: 1.4rem;
}

#comments h3 {
    font-size: 1.2rem;
}

#comment-author {
   font-size: 1.4rem;
   text-decoration: underline;
   color: #00b4ad;
}

.date {
    font-size: 1rem;
}

.comment-form {
    display: inline-block;
}

.comment-btn {
    border: none;
    background-color: #fff;
    font-family: 'Lato', Serif;
    font-size: 12px;
    margin-right: 5px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
    padding: 1px;
}

.comment-box {
    padding-top: 20px;
}

.comment-btn:hover {
    color: rgba(0, 0, 0, 1);
}

.comment-btn:active {
    background-color: #00d8d6;
}

.forgot {
    margin-top: 200px;
    width: 600px;
}

.mobile-nav {
    display: none;
}

#login-form {
    margin-bottom: 10rem;

}

/********************
USER PAGE 
********************/

#user-card {
    background-image: linear-gradient(to bottom, #ccc, #00b5ad);
    font-size: 1.4rem;
    margin: 10rem;
    padding: 5rem;
}

#user-name {
    font-size: 3rem;
    color: #fff;
}

#user-info {
    font-size: 2rem;
}

#user-content h4 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    color: #fff;
}

#user-content a {
    font-size: 1.6rem;
}

/********************
FOOTER PAGE 
********************/

#footer {
    background: #eaebed;
    margin-top: 3rem;
}

#footer i {
    font-size: 4.5rem;
}

#footer a {
    color: #272727;
    font-size: 1.6rem;
}

#footer-container {
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #009C95;
}

#mc_embed_signup form {
    font-size: 1.6rem;
}

/********************
MOBILE STYLES
********************/

@media only screen and (max-width: 1200px) and (min-width: 701px) {
    .ui.three.cards>.card {
        width: calc(50% - 2em);
    }
}

@media only screen and (max-width: 700px) {
    #jumbotron p {
        width: 100%;
        font-size: 1.8rem;
    }
    .ui.borderless.menu {
        display: none;
    }
    .ui.grid {
        font-size: .5rem;
        text-align: center;
    }
    .ui.raised.card {
        font-size: 1.6rem;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin-bottom: 1rem;
        border-bottom: #ccc solid 1px;
    }

    .mobile-nav__item i {
        font-size: 1.98rem;
        align-self: center;
        margin: 0;
    }

    .mobile-nav__item {
        align-self: center;
        line-height: 1;
    }

    .mobile-nav__item a {
        display: block;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .mobile-nav__item a.button {
        font-size: 1.2rem;
    }

    .mobile-nav__item a:hover {
        background-color: #eaebed;
    }

    #register-section,
    #login-section {
        margin: 0 .1rem;
    }

    #card {
        margin-bottom: 5rem;
    }

    .ui.message {
        font-size: 1.4rem;
    }

    #footer i {
        font-size: 3.5rem;
        margin-top: 3rem;
    }

    #footer-container {
        display: flex;
        flex-direction: column;
    }
}
