.margin-top-bottom {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}

.padding-top-bottom {
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
}

.center-heading {
    text-align: center;
    font-weight: 100;
}