<% include ../partials/header %>

    <div class="container margin-top-bottom">
        <h1 class="center-heading">New Blog</h1>
        <form id="post-form" class="form" action="/blogs" method="POST" enctype="multipart/form-data" required>
            <div class="">
                <input type="text" name="blog[title]" placeholder="Post Title" required>
            </div>
            <div class="">
                <input type="text" name="blog[level]" placeholder="Level" required>
            </div>
            <div class="">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/*" placeholder="paste image url" required>
            </div>
            <div class="">
                <label>Post Content</label>
                <textarea required name="blog[body]"></textarea>
                <script>
        			CKEDITOR.replace( 'blog[body]' );
        		</script>
            </div>
            <input class="ui teal big button"type="submit" value="Submit">
        </form>
    </div>
    
    
    

<% include ../partials/footer %>